@font-face{
	font-family: 'Goodluck';
	src: url('Goodluck-SlabSerif_otf.woff2') format('woff2');
	font-weight:400;

}
body{
	color: limegreen;
	background: forestgreen;
	font-family: 'Goodluck';
	font-size: 100px;


}