@font-face{
	font-family: 'Mont-Trial-Heavy';
	src: url('Mont-Trial-Heavy.woff2') format('woff2');
	font-weight: 400;
	font-style: slab-serif;
}

}
body{
	color: limegreen;
	background: black;
	font-family: 'Goodluck';
	font-size: 100px;


}

body {
  background-image: url('background3.jpg');
  background-color: black;
  background-size: cover;       
  background-position: center;   
  background-repeat: no-repeat;  
  height: 100vh;                 
  margin: 0;                     
}

body {
  cursor: url('skull.png'), auto;
}