@font-face {
  font-family: 'Mont-Trial-Heavy';
  src: url('Mont-Trial-Heavy.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Goodluck-SlabSerif';
  src: url('Goodluck-SlabSerif_otf.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: black;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  font-family: 'Mont-Trial-Heavy', sans-serif;
  cursor: url('clover2.gif') auto;
  color: white;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Mont-Trial-Heavy', sans-serif;
}

h2 {
  font-size: 3rem;
  text-align: center;
  color: #ffffff;
}

.split-section {
  display: flex;
  width: 100%;
  height: auto;
  margin-bottom: 0;
}

.section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.left-side, .right-side {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-side img, .right-side img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 0px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Styling for the Textarea */
#userInput {
  width: 80%;
  height: 800px;
  padding: 15px;
  font-size: 270px;
  background-color: black;
  color: white;
  resize: none;
  text-align: center;
  line-height: var(--line-height, 1.5); /* Default line height */
  letter-spacing: var(--letter-spacing, 0px); /* Default tracking/kerning */
  word-spacing: var(--word-spacing, 0px); /* Default word spacing */
  border: 2px solid transparent;
  box-shadow: none;
  font-family: 'Goodluck-SlabSerif', sans-serif;
}
.controls {
  font-family: 'Mont-Trial-Heavy', sans-serif;
  text-align: center;
  margin-top: 20px;
  color: white;
}

.controls label {
  font-size: 1.2rem;
}

.controls input[type="range"] {
  width: 300px;
  margin: 10px 0;
}

#userInput:focus {
  outline: none;
}



