@font-face {
  font-family: 'GoodluckSlabSerif';
  src: url('Goodluck-SlabSerif_otf.woff2') format('woff2');
  font-weight: 400;
  font-style: slab-serif;
}

@font-face {
  font-family: 'Mont-Trial-Heavy';
  src: url('Mont-Trial-Heavy.woff2') format('woff2');
  font-weight: 400;
  font-style: slab-serif;
}



a {
  cursor: pointer;
}




